.app{
    height: 100vh;
    width: 100vw;
    background-color: #898282;
    display: grid;
    place-items: center;
}
.app__conainer{
height: 400px;
width: 500px;
display: flex;
align-items: center;
flex-direction: column;
background-color: rgba(232, 234, 237);
padding: 32px 0;
border-radius: 12px;
}
.app__todocontainer{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}